<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IProductService"
                       openTimeout="00:05:00"
                       receiveTimeout="00:05:00"
                       sendTimeout="00:05:00">
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54222/ProductService.svc?"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
                contract="ProductService.IProductService" name="BasicHttpBinding_IProductService"/>
        </client>
    </system.serviceModel>
</configuration>