<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductService" openTimeout="00:05:00"
                    receiveTimeout="00:05:00" sendTimeout="00:05:00" />
                <binding name="BasicHttpBinding_IOrderService" />
                <binding name="BasicHttpBinding_ICampaignService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54222/ProductService.svc?"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
                contract="ProductService.IProductService" name="BasicHttpBinding_IProductService" />
            <endpoint address="http://localhost:54222/OrderService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IOrderService" contract="OrderService.IOrderService"
                name="BasicHttpBinding_IOrderService" />
            <endpoint address="http://localhost:54222/CampaignService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICampaignService"
                contract="CampaignService.ICampaignService" name="BasicHttpBinding_ICampaignService" />
        </client>
    </system.serviceModel>
</configuration>