<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IZET006Service" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54222/ZET006Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IZET006Service"
                contract="ServiceZETRef.IZET006Service" name="BasicHttpBinding_IZET006Service" />
        </client>
    </system.serviceModel>
</configuration>